---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Footer from '../components/Footer.astro';
import config from '../config';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Skills />
  </main>
  <Footer />
</Layout>